.expired-notice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
  
  .expired-notice > span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
  }
  
  .expired-notice > p {
    font-size: 1.5rem;
  }
  
  .show-counter {
    padding: 0.5rem;
  }
  
  .show-counter .countdown-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #000;
  }
  
  .show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .show-counter .countdown.danger {
    color: #ff0000;
  }
  
  .show-counter .countdown > p {
    margin: 0;
  }
  
  .show-counter .countdown > span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
  }

.title{
  display: flex;
  justify-content: center;
}

/*the complete project is in the following link:
https://github.com/vkive/coupon-code.git
Follow me on Codepen
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
.container{
  width: 100%;
  height: 200px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;

}
.coupon-card{
    background: linear-gradient(135deg, #a55e1c, #9b4702);
    color: #fff;
    text-align: center;
    height: 200px;
    width: 300px;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
    margin: 10px;
    position: relative;

}
.logo{
    width: 90px;
    height: 20px;
    border: 20px;
    border-radius: 8px;
    margin-bottom: 20px;

}
.coupon-card h1{
    font-size: 18px;
    font-weight: 50;
    line-height: 20px;

}
.coupon-card p{
    font-size: 15px;
    font-family: PingFangTC;
    margin-bottom: 15px;

}
.coupon-row{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
#cpnCode{
    border: 1px dashed #fff;
    padding: 10px 20px;

}
#cpnBtn{
    border: 1px solid #fff;
    background: rgb(192, 125, 49);
    padding: 10px 20px;
    color: #fafafa;
}
.circle1, .circle2{
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.circle1{
    left: -25px;
}
.circle2{
    right: -25px;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 0;
  border: none;
  background: none;
  margin-top: 100px;
  margin: auto;
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  font-family: PingFangTC;
}



.btn-one {
	color: rgb(0, 0, 0);
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(172, 108, 13, 0.5);
	border-bottom-color: rgba(175, 110, 25, 0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(199, 97, 50, 0.637);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
